<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Return</title>
    <style>
        body{
            background-color: powderblue;
        }
    </style>
</head>
<body>
    <center>
    <p><h1>DATA SAVED!</h1></p>
    <a href="/login">GO BACK TO LOGIN PAGE</a>
    </center>
</body>
</html>